*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__logo{
    margin-left: 200px;
}

.header__items{
    list-style: none;
}

.header__item{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 200px;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.section__wrapper{
    background-image: url("./bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1080px;
}

.sectoin__h2{
    font-size: 100px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 88px;
}

.section__p{
    font-size: 20px;
    padding-left: 1160px;
}

.section__btn{
    font-size: 20px;
    margin-left: 1160px;
    margin-top: 20px;
    padding: 10px  50px;
    border-radius: 32px;
    background-color: transparent;
}